*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Wrapper */
.wrapper {
    width: 50%;
    margin-inline: auto;
    padding: 1rem;
}

/* display: flex */
.slider {
    display: flex;
    gap: .2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    & .items {
        display: grid;
        grid-template-rows: auto 1fr;
        width: 18rem;
        background-color: beige;

        & :is(h2) {
            text-align: center;
        }

        & img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center;
        }
    }
}